.block-left {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  width: 550px;
  min-height: 250px;
}

.about-hero {
  background: #ffffff;
}

.about-hero-flex {
  display: flex;
}

.heroes-img-first-block {
  margin: 35px;
  max-width: 180px;
  height: 180px;
}

.more-info {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

.name-heroes {
  margin-bottom: 10px;
  min-width: 51px;
  height: 29px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.description {
  margin-right: 35px;
  margin-bottom: 10px;
  min-width: 265px;
  min-height: 90px;
  font-size: 14px;
  line-height: 16px;
}

.homepage {
  clip-path: polygon(-40px 100%, 0% 100%, 40px 60px, 150% 0%, 80px -40px);
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  width: 101px;
  height: 41.43px;
  color: white;
  background: #9f0013;
}

.wiki {
  clip-path: polygon(-40px 100%, 0% 100%, 40px 60px, 150% 0%, 80px -40px);
  width: 101px;
  font-size: 14px;
  line-height: 16px;
  height: 41.43px;
  color: white;
  background: #5c5c5c;
}

.block-right {
  display: flex;
  position: relative;
  width: 550px;
  height: 250px;
  background: #232222;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.block-right-column {
  margin: 35px 0px 35px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.random-character {
  margin-bottom: 33px;
  width: 374px;
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.random-choose {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.try-it {
  width: 101px;
  height: 42px;
  clip-path: polygon(-40px 100%, 0% 100%, 40px 60px, 150% 0%, 80px -40px);
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #9f0013;
}

.capitan-thor {
  position: absolute;
  right: 0;
  width: 155px;
  height: 189px;
}

.thor_capitan-img {
  margin-top: 47px;
  width: 202.54px;
  height: 189px;
}
